.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: $header-button;
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100px;
  font-weight: bold;
  &:hover,
  &:active {
    background-color: $header-button-hover;
  }
  span.value {
    margin: 0.5rem;
    background-color: $header-button-span;
    color: #000;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
